Package: gay.rooot.uicolorutil
Name: uicolorutil
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: rooot
Author: rooot
Section: System
Tag: role::hacker
