Package: gay.rooot.ctpiosgen
Name: Catppuccin iOS GEN
Version: 0.0.1
Architecture: iphoneos-arm
Description: Soothing pastel theme for iOS
Maintainer: rooot
Author: rooot
Section: Tweaks
Depends: mobilesubstrate
